<style>
    p {
        margin: 0 auto;
        padding-left: 2rem;
    }







    #btnDiv,
    .button-29 {
        margin: 0 auto;
        text-align: center;
    }

    a {
        text-decoration: none;
        color: #000;
        font-weight: bold;
    }
</style>


<div id="homePage">
    <p>
        <b>Our Mission: </b>Help The Body Of Christ Study God's Word, One Verse At A Time.
    </p>
    <p>
        <b>What You Get:</b>
    <ul>
        <li>NASB Text</li>
        <li>Interlinear Text</li>
        <li>Original Text</li>
        <li>Verse Commentary</li>
        <li>Break Down Of Interlinear and Original Text With Word Definitions</li>
    </ul>
    </p>
    <p>
        <b>Example Input:</b>
    <ul>
        <li>1peter 2:1</li>
        <li>genesis 1:1</li>
        <li>song of solomon 1:1</li>
        <li>jude 1:1</li>
    </ul>
    </p>
    <div id="btnDiv">
        <br><br>
        <button class="button-89" role="button">
            <a href="/bibleStudy">Study Now</a>
        </button>
        <br>
        <br>
    </div>

</div>